
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #BACACB ;
  --secondary-color: #425D5F;
  --accent1-color: #F8F7F2;
  --accent2-color: #ffc9b9ff;
  --accent3-color:#FDE7A2;
  --paragraph-color:#FAA943;


  /* change the values below to your chosen font(s) */
  --heading-font: "Courgette";
  --paragraph-font: "Playfair Display", Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
  background-color: rgba(255, 255, 255, 0.721);
  font-family: var(--heading-font); 
  display: grid;

}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  text-align: center;
  color: var(--secondary-color);
  padding: 40px;
  font-size: 20px;
  text-decoration: none;
  font-weight:700;
  z-index: 1;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--paragraph-font);
  text-align: center;
}
footer {
  background-color:var(--accent1-color);
  padding: 25px 50px;
  margin-top: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer, .social img {
  padding-top: 15px;
}
footer a {
  text-decoration: none;
  font-family: var(--paragraph-font); 
}
footer p {
  font-size: 1rem; 
}
footer p a:hover {
  text-decoration: underline;
}


#menu {
	font-size: 1.3rem;
	text-decoration: none;
	color:var(--secondary-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#menu::before {
	content: "≡";
}
#menu.show::before {
	content: "X";
}
#list {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#list a {
    font-family: var(--paragraph-font);
}
.navigation {
	list-style: none;
}
.navigation li {
	display: none;

}
.navigation a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--secondary-color);
	font-weight: 700;
	transition: 0.5s;
	font-size: 120%;
}
.navigation a:hover {
	color: var(--accent1-color);
	background-color: var(--secondary-color);
}
.show li {
	display: block;
}
#menu.show::before {
	content: "X";
}



/*attraction page*/



section {
    margin: 4rem;
}
/* Flexbox Container for Attractions */
.attraction-container {
    gap: 20px;
    justify-content: space-around;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.attraction-container img {
    max-width: 100%;
    border-radius: 5px;
}

.attraction-container h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

.attraction-container p {
    font-size: 1em;
    margin: 10px 0;
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
}

img:not(.logo):not(.icon) {
    width: 400px;
    height: 250px;

}
figure {
    margin: 0;
    padding: 10px;
    position: relative;
    background-color: var(--accent1-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    height: 550px;
}

@media only screen and (min-width: 50em) {
    
    header {
        display: grid;
        grid-template-columns: 250px auto;
      }
      nav a {
        color: var(--secondary-color);
      }
      footer p {
        font-size: 1.3em; 
      }
      footer {
        margin-top: 100px;
      }
    .navigation {
        display: flex;
        justify-content: center;
    }
    .navigation li {
        display: block; /* change state in small view */
    }
    .navigation a {
        text-align: center;
        padding: 20px;
    }
    #menu {
        display: none;
    }
    #list {
        background-color:var(--primary-color);
        color: var(--secondary-color);
    }
    img:not(.logo):not(.icon)  {
        width: 400px;
        height: 250px;
    }


    .attraction-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }
 
}


