@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #BACACB ;
  --secondary-color: #425D5F;
  --accent1-color: #F8F7F2;
  --accent2-color: #ffc9b9ff;
  --accent3-color:#FDE7A2;
  --paragraph-color:#FAA943;


  /* change the values below to your chosen font(s) */
  --heading-font: "Courgette";
  --paragraph-font: "Playfair Display", Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
  background-color: rgba(255, 255, 255, 0.721);
  font-family: var(--heading-font); 
  display: grid;
  grid-template-columns: 250px auto;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  text-align: center;
  color: var(--secondary-color);
  padding: 40px;
  font-size: 25px;
  text-decoration: none;
  font-weight:700;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--paragraph-font);
  text-align: center;
}
footer {
  background-color:var(--accent1-color);
  padding: 25px 50px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer, .social img {
  padding-top: 15px;
}
footer a {
  text-decoration: none;
  font-family: var(--paragraph-font); 
}
footer p {
  font-size: 1.3em; 
}
footer p a:hover {
  text-decoration: underline;
}






/*attraction page*/
.navigation {
	list-style: none;
}
#menu {
	font-size: 2rem;
	text-decoration: none;
	background-color:  var(--secondary-color);
	color: var(--primary-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#menu::before {
	content: "≡";
}

.navigation {
	list-style: none;

}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--secondary-color);
	font-weight: 700;
	transition: 0.5s;
	font-size: 120%;
  
}
.navigation a:hover {
	color: white;
	background-color: black;
}
.show li {
	display: block;
}
#menu.show::before {
	content: "X";
}

main {
	margin: 0 auto;
}
section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin: 1rem auto;
    max-width: 400px;
}
figure {
    margin: 0;
    padding: 20px;
    position: relative;
    background-color:var(--accent1-color);
    border: 1px solid #ddd;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
}
/*img {
    width: 350px;
    height: 250px;
}*/
#list {
    background-color: var(--primary-color);
}