@media only screen and (min-width: 50em) {
    :root {
        /* change the values below to your colors from your palette */
        --primary-color: #BACACB ;
        --secondary-color: #425D5F;
        --accent1-color: #F8F7F2;
        --accent2-color: #ffc9b9ff;
        --accent3-color:#FDE7A2;
        --paragraph-color:#FAA943;
      
      
        /* change the values below to your chosen font(s) */
        --heading-font: "Courgette";
        --paragraph-font: "Playfair Display", Helvetica, sans-serif;
    }
    header {
        display: grid;
        grid-template-columns: 250px auto;
      }
      nav a {
        color: var(--secondary-color);
      }
      footer p {
        font-size: 1.3em; 
      }
      footer {
        margin-top: 100px;
      }
    .navigation {
        display: flex;
        justify-content: center;
    }
    .navigation li {
        display: block; /* change state in small view */
    }
    .navigation a {
        text-align: center;
        padding: 20px;
    }
    #menu {
        display: none;
    }
    #list {
        background-color:var(--primary-color);
        color: var(--secondary-color);
    }
    img:not(.logo):not(.icon)  {
        width: 400px;
        height: 250px;
    }


    .attraction-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }
 
}
