@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #BACACB ;
  --secondary-color: #425D5F;
  --accent1-color: #F8F7F2;
  --accent2-color: #ffc9b9ff;
  --accent3-color:#FDE7A2;
  --paragraph-color:#FAA943;


  /* change the values below to your chosen font(s) */
  --heading-font: "Courgette";
  --paragraph-font: "Playfair Display", Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
  background-color: rgba(255, 255, 255, 0.721);
  font-family: var(--heading-font); 
  display: grid;

}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  text-align: center;
  color: var(--accent1-color);
  padding: 40px;
  font-size: 25px;
  text-decoration: none;
  font-weight:700;
  z-index: 1;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--paragraph-font);
  text-align: center;
}
footer {
  background-color:var(--accent1-color);
  padding: 25px 50px;
  margin-top: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer, .social img {
  padding-top: 15px;
}
footer a {
  text-decoration: none;
  font-family: var(--paragraph-font); 
}
footer p {
  font-size: 1rem; 
}
footer p a:hover {
  text-decoration: underline;
}


/*home page*/
.welcome {
  margin-top: -120px;
  width: 100%;
}
.welcome-box {
  z-index: -1;
  width: 100%;
  
}
#welcome-img {
  width: 100%;
}

.welcome-msg {
  text-align: center;
  font-size: 3em;
  grid-row: 2/3;
  color: var(--accent1-color);
  font-family: var(--heading-font);
}

.container {
  margin-top:-100px;
  width: 100%;
}
.contain1-msg {
  display: grid;
  grid-template-rows: repeat(5, 200px);
  text-align: center;
}
.contain1-msg h2 {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent1-color);
  margin: 0;
  font-size: 2rem;
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
}
.contain1-msg h3 {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0;
  font-family: var(--paragraph-font);
  font-size: 1.5rem;
}
.intro-img1 {

  grid-row: 3/4;
  width: 100%;
  height: auto;
}
.intro-img2 {

  grid-row: 5/6;
  width: 100%;
  height: auto;
}
.contain1-msg p {
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--accent1-color);
  font-family: var(--paragraph-font);
  padding: 2rem;
  font-weight:500;
}
.contain2-msg {
  display: grid;
  grid-template-rows: repeat(6, 200px);
  text-align: center;
  margin-top: 70px;
}
.contain2-msg h2 {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0;
  font-family: var(--paragraph-font);
}
.contain2-msg p {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem;
  background-color: var(--accent1-color);
  font-family: var(--paragraph-font);
  font-weight:500;
  line-height: 2rem;
}
.intro-img3 {
  grid-row: 3/4;
  width: 100%;
  height: auto;
}
.container-map {
  width: 100%;
  margin-top: -400px;
}
.mapcon {
  display: grid;
  grid-template-rows: repeat(3, 140px);
  text-align: center;
}
.mapcon h2 {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0;
  font-family: var(--paragraph-font);
}
.mapcon p {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--primary-color);
  color: var(--accent1-color);
  margin: 0;
  font-family: var(--paragraph-font);
  padding: 2rem;
  font-weight:500;

}
.map1 {
  width: 100%;
  grid-row: 3/4;
  height: auto;
}


@media only screen and (min-width: 50em) {
  
  header {
    display: grid;
    grid-template-columns: 250px auto;
  }
  nav a {
    color: var(--secondary-color);
  }
  footer p {
    font-size: 1.3em; 
  }
  footer {
    margin-top: 100px;
  }

  .welcome {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -120px;
    width: 100%;
  }
  .welcome-box {
    grid-column: 1/4;
    grid-row: 1/4;
  }
  .welcome-msg {
    margin-top: 10px;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 4em;

  }
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;    
  }
  .contain1-msg {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
  }
  .contain1-msg h2 {
    grid-column: 1/4;
    grid-row: 1/2;

  }
  .contain1-msg h3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .intro-img1 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .intro-img2 {
    grid-column: 2/4;
    grid-row: 2/3;

  }
  .contain1-msg p {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  .contain2-msg {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
  }
  .contain2-msg h2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .contain2-msg p {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .intro-img3 {
    grid-column: 1/3;
    grid-row: 1/2;

  }
  .container-map {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 0;
  }
  .mapcon {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 140px);
  }
  .mapcon h2 {
    grid-column: 1/3;
    grid-row: 1/2;
   
  }
  .mapcon p {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .map1 {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  
  
}
