@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #2c6e49ff ;
  --secondary-color: #4c956cff;
  --accent1-color: #fefee3ff;
  --accent2-color: #ffc9b9ff;
  --accent3-color:#d68c45ff;
  --paragraph-color:#403c3c;



  /* change the values below to your chosen font(s) */
  --heading-font: "Pangolin";
  --paragraph-font: Playfair Display, Helvetica, sans-serif;
}
