:root {
    --primary-color: #001B69ff; /* Define a global variable for primary color */
    --secondary-color: #B81137ff; /* Define another global variable for secondary color */
}
*   {
    margin: 0;
    padding: 0;
    
}
header {
    background-color: var(--primary-color);
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
    padding: 2rem;
    border-bottom: #B81137ff solid 40px;
    font-family: 'Poetsen One',Arial, sans-serif;
}
.cards {
    font-family: 'Reddit Sans',Arial, sans-serif;
}
.hero {

    max-width: 100%;
}
img {
    width: 100%;
    height: auto;
}

.card-weather h1::after {
    content:url("../images/weather.svg");
    width: 80px;
    display:inline-block;
    vertical-align: middle;
}
.left-label {
    text-align: right;
    margin-right: 1rem;
    font-weight: bold;
}
footer {
    background-color: var(--primary-color);
    text-align: center;
    font-size: 22px;
    padding: 1rem;
    color: #fff;

}
@media screen and (min-width: 1000px) {
    .small-img {
        display: none;
    }

    .cards {
        position: absolute;
        top:200px;
        width: 100%;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .large-img {
        max-width: 100%;
        height: 100%;
    }
    .card-data, .card-weather {
        background-color: rgba(255, 255, 255, 0.664);
        margin: 2rem;
  
    }
    .cards h1 {
        background-color: var(--secondary-color);
        min-height:75px;
        margin:1rem 1rem 0 -1rem;
        padding:.5rem 0 0 1.5rem;
        color: #fff;
    }
    .cards p {
        font-size:1.3rem;
        line-height: 2.5rem;
    }

    .card-data{
        grid-column:1/2;
        grid-row:1/2;
    }
    .card-weather{
        grid-column:4/5;
        grid-row:2/3;

    }
    .cards, .card-data, .card-weather {
        display: grid;
        grid-template-columns: auto auto;
    }

    .card-data h1, .card-weather h1{
        grid-column: 1/3;
        font-size: 2.5rem;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 1000px) {
    .large-img {
        display: none;
    }
    .cards {
        display: block;
    }
    .card-data h1, .card-weather h1{
        grid-column: 1/3;
        width:100%;
        font-size: 44px;
        font-weight: 200;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .left-label {
    grid-column:1/2;
    text-align: right;
    margin-right: 5px;
    }
    .cards h1 {
        text-align: center;
        padding: 2rem;

    }
    .cards p {
        font-size: 1.3rem;
        margin: 1rem;
    }
    .card-data{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 3px solid rgb(32, 32, 32);
        background-color: #f4f4f4;

    }
    .card-weather{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #f4f4f4;
    }
    .left-label{
        grid-column:1/2;
        text-align: right;
        margin-right: 5px;
    }
    .right-value{
        grid-column:2/3;
        margin-left: 5px;
    }

    
}