@media (min-width: 600px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav {
        justify-content: flex-end;
        flex-direction: row;
    }
    .navigation a {
        text-align: center;
    }
	.navigation {
		display: flex;
        justify-content: center;
	}
	.navigation li {
		flex: 1 1 100%;
	}
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    nav a:hover {
        color: #8693AB;
        background-color: #fff;
        
    }
    #menu {
        display: none;
    }

}